APP_ENV=local
APP_URL=http://dreamgo.local
APP_KEY=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=dreamgo
DB_USER=root
DB_PASS=

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=no-reply@dreamgooperadoraturistica.com
SMTP_FROM_NAME="Dream Go Operadora Turistica"
SMTP_SECURE=tls
