RewriteEngine On

# Bloquea el acceso directo a archivos sensibles si llegaran a existir en public/
<FilesMatch "\.(env|sql|log|md)$">
    Require all denied
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [QSA,L]
